# Use Python web scraping technique to analyze U.S.-China trade deficit

## Introduction

Web scraping is an important skill to collect data for various data science projects. In this work, we use Python-based web scraping technique to analyze U.S.-China trade deficit. Important skills we will learn through this work include: (1), scrape web data using Python `requests` and `beautifulsoup` libraries; (2) transform HTML table data into Pandas `dataframe`; and (3) visualize the data with Python `matplotlib` and `seaborn` libraries.

## The data: U.S.-China trade deficit

To practice the web scraping skills, we will use the data on U.S. trade in goods with China, which is publicly available through the [U.S. Census Bureau](https://www.census.gov/foreign-trade/balance/c5700.html). The website listed the trade data for 34 years (from 1985 to 2018). The data we are interested in reside in multiple tables, and the data for each year is listed in a separate table, which includes into 12 rows for each month. The trade data reports three categories: `Exports` (U.S. goods to China), `Imports` (China goods to U.S.), and `Balance` (which is equal to `Exports` - `Imports`). For example, the following image show you the U.S.-China trade data in 2018 (as of this writing, only data for this first three months of 2018 are available).

<img src="images/US_China_trade_2018.png">

## HTML `table`

We can see that the data we are interested in is presented in a table, as shown above. Before diving into the scraping process of the data, it is important for us to understand the structure of HTML `table`. Let's reproduce the first two rows we saw above with the following `html` code.

<img src="images/HTML_table2.png">

Then we got the table as shown as follows:

<img src="images/HTML_table_result.png">

You can check it out how I got the table on your own through the [w3schools Try Editor](https://www.w3schools.com/code/tryit.asp?filename=FRCG3WFLVE42).

If you are new to HTML documents, here are some basics (with major focus on HTML table):

* All HTML documents must start with a document type declaration: `<!DOCTYPE html>`.

* The HTML document itself begins with `<html>` and ends with `</html>`.

* The visible part of the HTML document is between `<body>` and `</body>`.

* An HTML element usually consists of a `start tag` and `end tag`, with the content inserted in between. For example, table is defined by `<table>` table content goes here, ... `<\table>`, where `<table>` is the `start tag`, and `<\table>` is the `end tag`.

* The HTML `<tbody>` element groups the body content in a table.

* The HTML `<th>` element defines a table heading.

* The HTML `<tr>` element defines a table row.
    
* The HTML `<td>` element defines a table data, e.g., `9,835.3` in our example table above.

For more informed introduction to `HTML`, the readers are referred to [w3schools](https://www.w3schools.com/html/).

## Web Scraping using Python

There are several ways to scrape data from web page by Python, and we are going to use the [`requests`](http://docs.python-requests.org/en/master/) and [`beautifulsoup`](https://www.crummy.com/software/BeautifulSoup/) libraries. We divide the scraping process into three steps:

> 1. We use `requests` to `get` the response of the web page by providing the web page URL. 
> 2. We will parse the response by the `html.parser` provided by `BeautifulSoup`
> 3. We will extract the table data and convert it into Pandas `DataFrame`

In [1]:
# import modules
from requests import get # `get` is used to get the reponse of the webpage
from bs4 import BeautifulSoup

## step 1: get the reponse from the web page
# the url address
url= 'https://www.census.gov/foreign-trade/balance/c5700.html'
# the object returned by the webpage is called 'response'
response = get(url)

## step 2: parse the reponse `text` by using BeautifulSoup
# two arguments: (a) the HTML string to be parsed, and (b) the name of a parser, here we use 'html.parser'.
parser = BeautifulSoup(response.text, 'html.parser')

To this point, we have the parsed HTML content saved in the `parser` object. Next we want to extract all tables by finding their tag `<table>`. We are going to use the `find_all()` method, which extracts a collection of HTML elements.

In [2]:
# we find all tables in the html web page
tables=parser.find_all('table')

There are 34 tables as for 34 years data from 1985 to 2018. We can verify that we successfully retrieve all tables by counting the number of tables

In [3]:
num_tables = len(tables)
num_tables

34

Cool! We got all tables. Next we need to transform HTML table data into Pandas `DataFrame`. We are going to save data in each table into a separate `DataFrame`. We will automate this process by a function. The flow chart is
> 1. We first find all rows inside the table with the `find_all()` method with argument `tr`.
> 2. For each row, we need to compute the `length` of data cell by `find_all()` method with argument `td`.
> 3. If `length` is equal to zero, indicating the header row. We will extract the text as the dataframe column names.
> 4. If `length` is larger than zero, indicating the data row. We will extract the text as the dataframe data.

In [4]:
import pandas as pd

## step 3: iterate each table and extract the data
def html_table_to_dataframe(table):
	header = [] # used to save the column names of the table
	data_list = [] # a list of lists, used to save the actual table data
    # we find all rows
	for row in table.find_all('tr'):
        # for each row, we check the length of the row, or number of data cells in that row
		length =len(row.find_all('td'))
        
        # length is equal to 0, it is the header row, we also convert all string to be lower case
		if length == 0:		# the header row
			header_info = row.find_all('th')
			header = [header_info[i].get_text().lower() for i in range(len(header_info))]
            
        # length is not equal to zero, then data row, and we need to extract the data with the get_text() method
		if length > 0:	# the table data
			data_info = row.find_all('td')
			col = [data_info[i].get_text() for i in range(length)]
			data_list.append(list(col)) 
            
    # we skip the last row 'TOTAL XXXX' of each table        
	df=pd.DataFrame(data_list[:-1],columns=header)
    
	return df

Next we will transform/extract all tables with a single `for` loop, and we will save the output dataframes into a dataframe list `df_list[]`.

In [5]:
df_list = [] # a list of dataframes
for table in tables:
	table_yearly = html_table_to_dataframe(table)
	df_list.append(table_yearly)

Let's do a sanity check to make sure we can get all table data as expected. We will print out the first table for year 2018 and the last table for year 1985 (Note that we intentionally discarded the last row `TOTAL XXXX` for all tables).

In [6]:
df_list[0] # the first table in the web page

,month,exports,imports,balance
0,January 2018,"9,835.3","45,788.0","-35,952.8"
1,February 2018,"9,806.1","39,067.6","-29,261.5"
2,March 2018,"12,382.1","38,256.7","-25,874.6"

In [7]:
df_list[-1] # the last table in the web page

,month,exports,imports,balance
0,January 1985,319.2,293.1,26.1
1,February 1985,222.7,281.0,-58.3
2,March 1985,239.5,293.0,-53.5
3,April 1985,265.6,283.3,-17.7
4,May 1985,329.3,295.1,34.2
5,June 1985,280.9,348.7,-67.8
6,July 1985,383.1,344.4,38.7
7,August 1985,320.9,311.8,9.1
8,September 1985,339.1,391.8,-52.7
9,October 1985,377.1,385.5,-8.4
10,November 1985,316.3,327.5,-11.2
11,December 1985,462.0,306.5,155.5

Next we are going to concatenate 34 dataframes into a single one. We will reverse the order of `df_list` before applying the `pd.concat()` method, so that the data will appear in the chronological order.

In [8]:
trade_data = pd.concat(reversed(df_list), ignore_index=True)
trade_data

,month,exports,imports,balance
0,January 1985,319.2,293.1,26.1
1,February 1985,222.7,281.0,-58.3
2,March 1985,239.5,293.0,-53.5
3,April 1985,265.6,283.3,-17.7
4,May 1985,329.3,295.1,34.2
5,June 1985,280.9,348.7,-67.8
6,July 1985,383.1,344.4,38.7
7,August 1985,320.9,311.8,9.1
8,September 1985,339.1,391.8,-52.7
9,October 1985,377.1,385.5,-8.4
10,November 1985,316.3,327.5,-11.2
11,December 1985,462.0,306.5,155.5
12,January 1986,300.0,459.5,-159.5
13,February 1986,330.6,376.6,-46.0
14,March 1986,289.6,401.8,-112.2
15,April 1986,318.9,264.9,54.0
16,May 1986,256.8,319.0,-62.2
17,June 1986,275.3,375.7,-100.4
18,July 1986,198.6,450.2,-251.6
19,August 1986,235.6,434.7,-199.1
20,September 1986,216.4,413.4,-197.0
21,October 1986,198.8,398.5,-199.7
22,November 1986,226.7,486.0,-259.3
23,December 1986,259.0,390.7,-131.7
24,January 1987,213.3,520.6,-307.3
25,February 1987,212.7,565.3,-352.6
26,March 1987,207.6,482.5,-274.9
27,April 1987,439.6,468.3,-28.7
28,May 1987,228.7,514.7,-286.0
29,June 1987,261.8,536.3,-274.5
...,...,...,...,...
369,October 2015,"11,395.6","44,311.4","-32,915.8"
370,November 2015,"10,604.0","41,886.9","-31,282.9"
371,December 2015,"10,073.2","37,999.4","-27,926.2"
372,January 2016,"8,218.3","37,159.3","-28,940.9"
373,February 2016,"8,055.1","36,088.6","-28,033.5"
374,March 2016,"8,913.4","29,838.3","-20,924.9"
375,April 2016,"8,670.6","32,945.8","-24,275.3"
376,May 2016,"8,537.3","37,530.5","-28,993.2"
377,June 2016,"8,838.3","38,556.2","-29,717.8"
378,July 2016,"9,125.3","39,461.8","-30,336.5"
379,August 2016,"9,369.1","43,230.2","-33,861.2"
380,September 2016,"9,507.1","42,026.9","-32,519.8"
381,October 2016,"12,616.0","43,793.5","-31,177.5"
382,November 2016,"12,069.8","42,608.9","-30,539.1"
383,December 2016,"11,681.8","39,378.2","-27,696.4"
384,January 2017,"10,071.9","41,376.3","-31,304.4"
385,February 2017,"9,797.8","32,763.4","-22,965.5"
386,March 2017,"9,625.8","34,204.7","-24,578.9"
387,April 2017,"9,839.7","37,471.9","-27,632.2"
388,May 2017,"10,193.3","41,801.6","-31,608.3"
389,June 2017,"9,710.3","42,291.9","-32,581.7"
390,July 2017,"10,045.6","43,601.7","-33,556.1"
391,August 2017,"10,925.1","45,819.5","-34,894.4"
392,September 2017,"10,804.2","45,442.0","-34,637.8"
393,October 2017,"12,967.9","48,197.4","-35,229.5"
394,November 2017,"12,718.2","48,148.8","-35,430.5"
395,December 2017,"13,669.6","44,477.8","-30,808.2"
396,January 2018,"9,835.3","45,788.0","-35,952.8"
397,February 2018,"9,806.1","39,067.6","-29,261.5"
398,March 2018,"12,382.1","38,256.7","-25,874.6"

HOORAY! We have successfully scraped the table data from the [U.S. Census Bureau](https://www.census.gov/foreign-trade/balance/c5700.html) website and saved them into Pandas DataFrame.

## Exploratory Data Analysis

### Data Clean-up

Before we are able to visualize the data, we have to take care of several issues in our dataframe `trade_data`:

* We need to remove the comma `,` sign in our numerical data.

In [9]:
cols = trade_data.columns
for column in cols:
    trade_data[column]=trade_data[column].apply(lambda x: x.strip()) # trim the space on both side of the string
    trade_data[column]=trade_data[column].apply(lambda x: x.replace(",", "")) # replace ',' with empty space

* We want to split the 'month' column (e.g., `January 1985`) into two columns `month` and `year` (e.g., `January` and `1985`).

In [10]:
trade_data['Month']=trade_data['month'].apply(lambda x: x.strip().split(" ")[0])
trade_data['year']=trade_data['month'].apply(lambda x: x.strip().split(" ")[-1])
# drop the duplicate column "month"
trade_data=trade_data.drop('month',axis=1)
# rename the column "Month" to be "month"
trade_data.rename(columns = {'Month':'month'}, inplace = True)
# reorder the columns
new_cols = ['year','month', 'exports', 'imports', 'balance']
us_china_trade_data = pd.DataFrame()
for col in new_cols:
    us_china_trade_data[col] = trade_data[col]
us_china_trade_data.head()

   year     month exports imports balance
0  1985   January   319.2   293.1    26.1
1  1985  February   222.7   281.0   -58.3
2  1985     March   239.5   293.0   -53.5
3  1985     April   265.6   283.3   -17.7
4  1985       May   329.3   295.1    34.2

* The data type is `object` or string, we need to convert it to `float` or `int`.

In [11]:
us_china_trade_data.dtypes

year       object
month      object
exports    object
imports    object
balance    object
dtype: object

In [12]:
float_cols = ['exports', 'imports', 'balance'] # these 3 columns will have 'float' data type
for column in float_cols:
    us_china_trade_data[column]=us_china_trade_data[column].astype(float)
    
us_china_trade_data['year']=us_china_trade_data['year'].astype(int) # the 'year' column will have int data type
us_china_trade_data.dtypes

year         int64
month       object
exports    float64
imports    float64
balance    float64
dtype: object

* We want to map month (e.g., `December`) to numerical number (e.g., `12`). To achieve this, we create a Python dictionary, and use the pd.map() method.

In [13]:
month_dict = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12
}

us_china_trade_data['month']=us_china_trade_data['month'].map(month_dict)
us_china_trade_data

     year  month  exports  imports  balance
0    1985      1    319.2    293.1     26.1
1    1985      2    222.7    281.0    -58.3
2    1985      3    239.5    293.0    -53.5
3    1985      4    265.6    283.3    -17.7
4    1985      5    329.3    295.1     34.2
5    1985      6    280.9    348.7    -67.8
6    1985      7    383.1    344.4     38.7
7    1985      8    320.9    311.8      9.1
8    1985      9    339.1    391.8    -52.7
9    1985     10    377.1    385.5     -8.4
10   1985     11    316.3    327.5    -11.2
11   1985     12    462.0    306.5    155.5
12   1986      1    300.0    459.5   -159.5
13   1986      2    330.6    376.6    -46.0
14   1986      3    289.6    401.8   -112.2
15   1986      4    318.9    264.9     54.0
16   1986      5    256.8    319.0    -62.2
17   1986      6    275.3    375.7   -100.4
18   1986      7    198.6    450.2   -251.6
19   1986      8    235.6    434.7   -199.1
20   1986      9    216.4    413.4   -197.0
21   1986     10    198.8    398.5   -199.7
22   1986     11    226.7    486.0   -259.3
23   1986     12    259.0    390.7   -131.7
24   1987      1    213.3    520.6   -307.3
25   1987      2    212.7    565.3   -352.6
26   1987      3    207.6    482.5   -274.9
27   1987      4    439.6    468.3    -28.7
28   1987      5    228.7    514.7   -286.0
29   1987      6    261.8    536.3   -274.5
..    ...    ...      ...      ...      ...
369  2015     10  11395.6  44311.4 -32915.8
370  2015     11  10604.0  41886.9 -31282.9
371  2015     12  10073.2  37999.4 -27926.2
372  2016      1   8218.3  37159.3 -28940.9
373  2016      2   8055.1  36088.6 -28033.5
374  2016      3   8913.4  29838.3 -20924.9
375  2016      4   8670.6  32945.8 -24275.3
376  2016      5   8537.3  37530.5 -28993.2
377  2016      6   8838.3  38556.2 -29717.8
378  2016      7   9125.3  39461.8 -30336.5
379  2016      8   9369.1  43230.2 -33861.2
380  2016      9   9507.1  42026.9 -32519.8
381  2016     10  12616.0  43793.5 -31177.5
382  2016     11  12069.8  42608.9 -30539.1
383  2016     12  11681.8  39378.2 -27696.4
384  2017      1  10071.9  41376.3 -31304.4
385  2017      2   9797.8  32763.4 -22965.5
386  2017      3   9625.8  34204.7 -24578.9
387  2017      4   9839.7  37471.9 -27632.2
388  2017      5  10193.3  41801.6 -31608.3
389  2017      6   9710.3  42291.9 -32581.7
390  2017      7  10045.6  43601.7 -33556.1
391  2017      8  10925.1  45819.5 -34894.4
392  2017      9  10804.2  45442.0 -34637.8
393  2017     10  12967.9  48197.4 -35229.5
394  2017     11  12718.2  48148.8 -35430.5
395  2017     12  13669.6  44477.8 -30808.2
396  2018      1   9835.3  45788.0 -35952.8
397  2018      2   9806.1  39067.6 -29261.5
398  2018      3  12382.1  38256.7 -25874.6

[399 rows x 5 columns]

In [14]:
us_china_trade_data.dtypes

year         int64
month        int64
exports    float64
imports    float64
balance    float64
dtype: object

* There are only 3 months data for 2018, let's discard 2018 trade data.

In [15]:
trade_data = us_china_trade_data[us_china_trade_data['year'] < 2018]
trade_data

     year  month  exports  imports  balance
0    1985      1    319.2    293.1     26.1
1    1985      2    222.7    281.0    -58.3
2    1985      3    239.5    293.0    -53.5
3    1985      4    265.6    283.3    -17.7
4    1985      5    329.3    295.1     34.2
5    1985      6    280.9    348.7    -67.8
6    1985      7    383.1    344.4     38.7
7    1985      8    320.9    311.8      9.1
8    1985      9    339.1    391.8    -52.7
9    1985     10    377.1    385.5     -8.4
10   1985     11    316.3    327.5    -11.2
11   1985     12    462.0    306.5    155.5
12   1986      1    300.0    459.5   -159.5
13   1986      2    330.6    376.6    -46.0
14   1986      3    289.6    401.8   -112.2
15   1986      4    318.9    264.9     54.0
16   1986      5    256.8    319.0    -62.2
17   1986      6    275.3    375.7   -100.4
18   1986      7    198.6    450.2   -251.6
19   1986      8    235.6    434.7   -199.1
20   1986      9    216.4    413.4   -197.0
21   1986     10    198.8    398.5   -199.7
22   1986     11    226.7    486.0   -259.3
23   1986     12    259.0    390.7   -131.7
24   1987      1    213.3    520.6   -307.3
25   1987      2    212.7    565.3   -352.6
26   1987      3    207.6    482.5   -274.9
27   1987      4    439.6    468.3    -28.7
28   1987      5    228.7    514.7   -286.0
29   1987      6    261.8    536.3   -274.5
..    ...    ...      ...      ...      ...
366  2015      7   9488.4  41211.6 -31723.2
367  2015      8   9167.6  44137.5 -34969.9
368  2015      9   9417.0  45711.4 -36294.4
369  2015     10  11395.6  44311.4 -32915.8
370  2015     11  10604.0  41886.9 -31282.9
371  2015     12  10073.2  37999.4 -27926.2
372  2016      1   8218.3  37159.3 -28940.9
373  2016      2   8055.1  36088.6 -28033.5
374  2016      3   8913.4  29838.3 -20924.9
375  2016      4   8670.6  32945.8 -24275.3
376  2016      5   8537.3  37530.5 -28993.2
377  2016      6   8838.3  38556.2 -29717.8
378  2016      7   9125.3  39461.8 -30336.5
379  2016      8   9369.1  43230.2 -33861.2
380  2016      9   9507.1  42026.9 -32519.8
381  2016     10  12616.0  43793.5 -31177.5
382  2016     11  12069.8  42608.9 -30539.1
383  2016     12  11681.8  39378.2 -27696.4
384  2017      1  10071.9  41376.3 -31304.4
385  2017      2   9797.8  32763.4 -22965.5
386  2017      3   9625.8  34204.7 -24578.9
387  2017      4   9839.7  37471.9 -27632.2
388  2017      5  10193.3  41801.6 -31608.3
389  2017      6   9710.3  42291.9 -32581.7
390  2017      7  10045.6  43601.7 -33556.1
391  2017      8  10925.1  45819.5 -34894.4
392  2017      9  10804.2  45442.0 -34637.8
393  2017     10  12967.9  48197.4 -35229.5
394  2017     11  12718.2  48148.8 -35430.5
395  2017     12  13669.6  44477.8 -30808.2

[396 rows x 5 columns]

* Let's group the yearly data by summarizing the 12-month data.

In [23]:
import numpy as np
# we group the column data by based on the 'year' column
trade_data_yearly_grouped=trade_data.groupby(['year'])
# we apply the np.sum() function to summarize the value for each year
trade_data_yearly=trade_data_yearly_grouped.agg(np.sum)
# we want to recove the year column by copying the dataframe index, which is our 'year' data
trade_data_yearly['year']=trade_data_yearly.index
# we reorder the data
trade_data_yearly=trade_data_yearly[['year', 'exports', 'imports', 'balance']]
# our index is 'year', we will reset the index
trade_data_yearly=trade_data_yearly.reset_index(drop=True)
trade_data_yearly

    year   exports   imports   balance
0   1985    3855.7    3861.7      -6.0
1   1986    3106.3    4771.0   -1664.7
2   1987    3497.3    6293.6   -2796.3
3   1988    5021.6    8510.9   -3489.3
4   1989    5755.4   11989.7   -6234.3
5   1990    4806.4   15237.4  -10431.0
6   1991    6278.2   18969.2  -12691.0
7   1992    7418.5   25727.5  -18309.0
8   1993    8762.9   31539.9  -22777.0
9   1994    9281.7   38786.8  -29505.1
10  1995   11753.7   45543.2  -33789.5
11  1996   11992.6   51512.8  -39520.2
12  1997   12862.2   62557.7  -49695.5
13  1998   14241.2   71168.6  -56927.4
14  1999   13111.1   81788.2  -68677.1
15  2000   16185.2  100018.2  -83833.0
16  2001   19182.3  102278.4  -83096.1
17  2002   22127.7  125192.6 -103064.9
18  2003   28367.8  152436.0 -124068.2
19  2004   34427.9  196682.0 -162254.2
20  2005   41192.1  243470.2 -202278.2
21  2006   53673.1  287774.4 -234101.3
22  2007   62936.9  321443.0 -258506.0
23  2008   69732.9  337772.5 -268039.8
24  2009   69496.7  296373.9 -226877.3
25  2010   91911.1  364952.6 -273041.7
26  2011  104121.6  399371.2 -295249.6
27  2012  110516.6  425619.1 -315102.5
28  2013  121746.2  440430.1 -318683.9
29  2014  123657.2  468474.9 -344817.7
30  2015  115932.0  483188.6 -367256.6
31  2016  115602.1  462618.2 -347016.1
32  2017  130369.4  505597.0 -375227.5

### Data Visualization